.landingPage{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSPmGm2A5-D9zHoa3utzaS9EGefT9ldOpgDBxd9r5O5E512WC4&s);

  
}


.tagline{
    color: purple;
    font-size: medium;
    position: relative;
    bottom: 15px;
}


#boxy{
    background-color:whitesmoke;
}

#submit{
    background-color: rgb(73, 3, 73);
}

#inputcity{
    color: rgb(73, 3, 73);
}

/* #hero{
height:350px ;
} */

.input {
color:rgb(73, 3, 73);
    text-align: center;
  }

.current{
    color:rgb(73, 3, 73) ;
}
input::placeholder {
    opacity: 3; 
    color:rgb(73, 3, 73);
} 

input:focus::placeholder {
    opacity: 0;
}

#min{
    width: 130px;
    text-align: left;
}

#max{
    width: 130px;
    text-align: left;
}
 