<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <link rel="stylesheet" href="assets/styles.css" />

    <title>{{title}}</title>
  </head>

  <body class="landingPage">
    <section class="hero is-white has-text-centered" id="hero">
      <div class="hero-body">
        <div class="container">
          <a href="https://fontmeme.com/fallout-new-vegas-font/"
            ><img
              src="https://fontmeme.com/permalink/200107/2690f1c67744ce504ee97846f43fa2cd.png"
              alt="fallout-new-vegas-font"
              border="0"
          /></a>

          <p class="tagline">lemme know dawg</p>
        </div>
      </div>
      <h2 class="subtitle has-text-centered"></h2>
    </section>

    {{{ body }}}
  </body>
</html>
